body {
}

.body-content {
    padding: 30px 0;
}

.footer {
    padding: 20px 0;
}

.table-hover tbody tr {
    cursor: pointer;
}

.validity-label {
    font-size: $font-size-sm;
    color: $gray-500;
    display: inline-block;
    margin-left: 5px;
}

.form-limit-width {
    max-width: 350px;
}

.disabled-link {
    color: gray !important;
}

/***** Sticky footer *****/
#react-app,
.layout {
    min-height: 100vh;
}

.layout {
    display: flex;
    flex-direction: column;

    .body-content,
    .body-container-wrapper,
    .container {
        flex: 1;
    }
}
/***** End sticky footer *****/

.tab-content {
    padding: 2rem 2rem (2rem - $form-group-margin-bottom) 2rem;
    border: 1px solid $nav-tabs-border-color;
    border-top: none;
}

.tab-manager {
    .tab-content,
    .render-tab-loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tab-content-loading {
        font-size: 34px;
        text-align: center;
        color: hsl(0, 0%, 30%);
        padding: 1rem 0;
    }
}
