$popover-bg: white;
$popover-border: hsl(0, 0%, 80%);

.custom-popover {
    padding: 1rem;
    box-shadow: $box-shadow;
    border: 1px solid $popover-border;
    background-color: $popover-bg;
    border-radius: $border-radius;
    z-index: $zindex-tooltip;
    cursor: initial;
}
