.table td p {
    margin-bottom: 0;
}

.query-controls {
    .form-control {
        @extend .form-control-sm;
    }

    .form-control-label {
        font-size: $font-size-sm;
        margin-bottom: 0.25rem;
    }

    .form-check,
    .radio-button-container {
        font-size: $font-size-sm;
    }

    .query-controls-row {
        display: flex;
        flex-wrap: wrap;

        & > * {
            &:not(:last-child) {
                margin-right: 0.75rem;
            }
        }

        @include media-breakpoint-up(md) {
            & > :not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

    // input customizations

    @include media-breakpoint-up(md) {
        input[type='text'] {
            min-width: 175px;
        }

        // Prevent the above style from being applied to the text inputs within a
        // react-select component. The component's internal CSS classes seem to be
        // different in development mode vs production mode. Make sure to test this rule
        // in the test system.
        [class$='container'] [class$='control'] input[type='text'] {
            min-width: unset;
        }

        input.search {
            min-width: 250px;
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
}

.list-container {
    // to allow the use of <LoadingCover />
    position: relative;
}
