@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>React SPA template</title>
    <base href="~/" />

    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
</head>
<body>
    <div id="react-app"></div>

    <script src="~/dist/app.js" asp-append-version="true"></script>
</body>
</html>