@import "~bootstrap/scss/bootstrap";

#page-home-formexample {
    input, textarea, select {
        width: 300px;
    }
}

body {
    background-color: #fafafa;
}

.footer {
    padding: 20px 0;
}

.table-hover tbody tr {
    cursor: pointer;
}

/***** Sticky footer *****/
#react-app, .layout {
    min-height: 100vh;
}

.layout {
    display: flex;
    flex-direction: column;

    .body-content {
        flex: 1;
    }
}