// Import into your project like:
// @import '~@interface-technologies/iti-react/index';

.time-input {
    .flex-container {
        display: flex;
        align-items: center;

        & > .input {
            width: 80px;
        }

        & > .input:not(:last-child) {
            margin-right: 0.5rem;
        }

        .default-clear-button {
            margin-left: 0.75rem;

            &.disabled {
                color: hsl(0, 0%, 56%);
            }
        }
    }
}

// These styles make it so the size of the button does not change when the loading icon displays
button.submit-button {
    position: relative;

    .hidden-label {
        visibility: hidden;
    }

    .loading-icon-container {
        width: 100%;
        position: absolute;
        top: $btn-padding-y;
        left: 0;
    }

    &.btn-sm .loading-icon-container {
        top: $btn-padding-y-sm;
    }

    &.btn-lg .loading-icon-container {
        top: $btn-padding-y-lg;
    }
}

.in-progress-feedback {
    color: theme-color('primary');
}

.invalid-feedback,
.valid-feedback {
    // Override Bootstrap defaults, which makes feedback hidden when it's not a sibling
    // of a form-control
    display: block;
}

.table-td-link {
    @extend .table-hover;
    height: 100%;

    td {
        cursor: pointer;
    }

    td:not(.no-link) {
        padding: 0;
        height: 100%;
    }

    .td-link {
        display: block;
        padding: $table-cell-padding;
        height: 100%;
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &.table-sm {
        .td-link {
            padding: $table-cell-padding-sm;
        }
    }
}

.react-datepicker {
    // don't know why this is necessary
    ul.react-datepicker__time-list {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    // by default, time-container and time-box are too narrow to fit an 'h:mm z' time
    // on a single line
    $original-time-container-width: 70px;
    $extra-width: 25px;

    .react-datepicker__time-container {
        width: ($original-time-container-width + $extra-width) !important;
    }

    .react-datepicker__time-box {
        width: auto !important;
    }
    // increasing the time-container width causes right arrow to be mispositioned
    .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
        right: 80px + $extra-width;
    }
}

.date-input-no-picker-wrapper {
    // So that the DateInput width is the same whether showPicker=true or false
    display: inline-block;
}

.address-input {
    $address-row-margin-bottom: 0.5rem;

    .address-row {
        margin-bottom: $address-row-margin-bottom;
    }

    .address-row-3 {
        display: flex;

        & > :not(:last-child) {
            margin-right: 0.5rem;
        }

        .city-input-container {
            flex: 1;
        }

        input[name='zip'] {
            // Enough to fit xxxxx-xxxx zip code
            width: 115px;
        }

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;

            .city-input-container {
                flex: 0 0 100%;
                margin-bottom: $address-row-margin-bottom;
            }
        }
    }
}

.address-display {
    p {
        margin-bottom: 0;
    }
}
