.page-test-form {
    input:not([type='checkbox']):not([type='radio']),
    textarea,
    select {
        width: 400px;
    }

    .card {
        margin-bottom: 2rem;
    }

    .space-children {
        display: flex;

        & > * {
            margin-right: 2.5rem;
        }
    }

    .input-with-button {
        display: flex;
        align-items: flex-start;

        & > :not(:last-child) {
            margin-right: 1rem;
        }
    }

    .dollar-sign-input-container {
        position: relative;

        .dollar-sign {
            color: #909090;
            position: absolute;
            padding: $input-padding-y;
            border-top: 1.5px solid transparent;
            width: 0;
            left: 0.12rem;
        }

        input {
            padding-left: 1.5rem;
        }
    }
}
