@using TestWebsite
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ITI React</title>
    <base href="~/" />

    <link rel="icon" href="~/images/favicon.ico" />
</head>
<body style="margin: 0">
    <div id="reactApp"></div>

    <script>isDebug = @(Startup.IsDebug.ToString().ToLowerInvariant())</script>

    <style>
        @@keyframes loadingScreenImageFadeIn {
            from { opacity: 0; }
            33%  { opacity: 0; }
            to   { opacity: 1; }
        }
    </style>
    <div id="loadingScreen" style="position: absolute; background-color: white; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; top: 0;">
        <img src="~/images/logo.png" alt="ITI Logo" style="animation: loadingScreenImageFadeIn 2.5s ease-in;">
    </div>

    <script src="http://localhost:51644/dist/app.js" asp-append-version="true"></script>
    <noscript>
        <h3>JavaScript is disabled. You must enable it to use this site.</h3>
    </noscript>
</body>
</html>