.time-input {
    .inputs {
        & > div {
            display: inline-block;
        }

        select {
            width: auto;
            display: inline-block;
            margin-right: 8px;
        }
    }
}

// These styles make it so the size of the button does not change when the loading icon displays
button.submit-button {
    position: relative;

    .hidden-label {
        visibility: hidden;
    }

    .loading-icon-container {
        width: 100%;
        position: absolute;
        top: $btn-padding-y;
        left: 0;
    }
}

.in-progress-feedback {
    color: theme-color('primary');
}

.invalid-feedback,
.valid-feedback {
    // Override Bootstrap defaults, which makes feedback hidden when it's not a sibling
    // of a form-control
    display: block;
}

.table-td-link {
    @extend .table-hover;
    height: 100%;

    td {
        padding: 0;
        height: 100%;
    }

    .td-link {
        display: block;
        padding: $table-cell-padding;
        height: 100%;
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &.table-sm {
        .td-link {
            padding: $table-cell-padding-sm;
        }
    }
}
