.time-input {
    .inputs {
        & > div {
            display: inline-block;
        }

        select {
            width: auto;
            display: inline-block;
            margin-right: 8px;
        }
    }
}

// These styles make it so the size of the button does not change when the loading icon displays
button.submit-button {
    position: relative;

    .hidden-label {
        visibility: hidden;
    }

    .loading-icon-container {
        width: 100%;
        position: absolute;
        top: $btn-padding-y;
        left: 0;
    }
}

.in-progress-feedback {
    color: theme-color('primary');
}

.invalid-feedback,
.valid-feedback {
    // Override Bootstrap defaults, which makes feedback hidden when it's not a sibling
    // of a form-control
    display: block;
}

.table-td-link {
    @extend .table-hover;
    height: 100%;

    td {
        padding: 0;
        height: 100%;
    }

    .td-link {
        display: block;
        padding: $table-cell-padding;
        height: 100%;
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &.table-sm {
        .td-link {
            padding: $table-cell-padding-sm;
        }
    }
}

// For radio input
.form-group.checkbox-form-group {
    margin-top: 0.5rem;

    .form-control-label {
        display: block;
    }

    .form-check-inline label {
        margin-bottom: 0;
    }
}

.react-datepicker {
    // don't know why this is necessary
    ul.react-datepicker__time-list {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    // by default, time-container and time-box are too narrow to fit an 'h:mm z' time
    // on a single line
    $original-time-container-width: 70px;
    $extra-width: 25px;

    .react-datepicker__time-container {
        width: ($original-time-container-width + $extra-width) !important;
    }

    .react-datepicker__time-box {
        width: auto !important;
    }
    // increasing the time-container width causes right arrow to be mispositioned
    .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
        right: 80px + $extra-width;
    }
}
